.box1{background:green;border:1px solid black;}
.box2{background:blue;border:1px solid black;}
.box3{background:red;border:1px solid black;}
.box4{background:magenta;border:1px solid black;}
.box5{background:yellow;border:1px solid black;}
.box6{background:pink;border:1px solid black;}

.container{
   display:flex;
   border:3px solid black;
   flex-direction:row;
   flex-wrap:wrap;
}
.box{
   font-size:15px;
   padding:15px;
   width:100;
}